TCP: Pico must handle window shrinking

RFC1122 section 4.2.2.16 (window management): a sending TCP MUST be robust against window shrinking.

This time we tested the sender of pico. We start with a window of 100 bytes advertised by us. Then the following sequence follows:

Pico --------- seq=1, datalen=30 --------> we
Pico ------- seq=31, datalen=50 --X         we   (lost segment)
Pico <------ ack=31, win=30 --------------- we

The window state of the pico sender is a follows at this point:
    30                              60                          80
----|---------------------------|-----------------------|-----
 SND.UNA      SND.UNA+SND.WND       SND.NXT

We expect that pico retransmits the data between SND.UNA and SND.WND.
Instaid of that pico is sending zerowindow probes.

reproduce:
sudo ./run.sh --test windowshrinking testcases/hardware/tcp_talk_dut_bench.txt
