TCP: Pico sends wrong keep-alive packets

Keep-alive properties:
    \* has only the ACK flag set (not PSH or PSHACK)
    \* has no data or at most one garbage octet of data
    \* its SEQ nr lies outside the window (typically SND.NXT -1)

An example:
1   A ---- SYN, seq=0 ------------------------> B
2   A <--- SYNACK, seq=0, ack=1 --------------- B
3   A ---- ACK, seq=1, ack=1 -----------------> B

4   A ---- PSHACK, seq=1, ack=1, datalen=5 ---> B
5   A <--- ACK, seq=1, ack=6 ------------------ B

```
... keep-alive timer expires ...
```

6   A ---- ACK, seq=5, ack=1 -----------------> B
7   A <--- ACK, seq=1, ack=6 ------------------ B

After Segment 5 is received, the connection is idle. SND.NXT of host A is equal to RCV.NXT of host B (SND.NXT = RCV.NXT = 6).
Segment 6 is the first keep-alive and has a SEQ nr of 5 = SND_NXT - 1. This seq is outside the window (the left edge of the window points to 6).
This will trigger an ACK that already was send before (segment 5). Host A knows B is alive.

The current implementation send a PSH instaid of an ACK and its SEQ nr is inside the window. If this is the case, a TCP will treat it as a duplicate ACK. Duplicate ACK's are just discarded and will not necessarily trigger a response.
Keep-alives should be disabled by default.

RFC1122 section 4.2.3.6 TCP Keep-Alives
