DHCP: server always replies with unicasts

When a DHCP client asks for an IP address and sets the broadcast flag in its requests (meaning it can not receive replies that are unicast), picotcp always replies with unicasts (the IP destination of the packet is the address the client is receiving, but some clients can not receive unicasts when not fully configured).

RFC2131 section 4.1 states:
"A server or relay agent sending or relaying a DHCP message directly
   to a DHCP client (i.e., not to a relay agent specified in the
   'giaddr' field) SHOULD examine the BROADCAST bit in the 'flags'
   field.  If this bit is set to 1, the DHCP message SHOULD be sent as
   an IP broadcast using an IP broadcast address (preferably 0xffffffff)
   as the IP destination address and the link-layer broadcast address as
   the link-layer destination address."

reproduce:
sudo ./run.sh --test forcebroadcast testcases/hardware/dhcp_bench_dut.txt
pcap:
https://dl.dropboxusercontent.com/u/49342572/forcebroadcast
