DNS: Client doesn't check for invalid qname in a response

The DUT sends a query to a server to resolve a domain name 'A'. The evil server sends a response to the DUT with qname 'B' and an IP address that belongs to 'B'. The DUT should check the qname field first before using the resolved host name.
Spec: RFC1035 section 7.3
Clarification http://www.tahi.org/dns/spec/C_specification-v1_0.pdf -> section 5.57

Reproduce: sudo ./run.sh --test dnscheckstandardquery testcases/hardware/dns_dut_bench.txt