ICMP: DUT responds on packet with link layer broadcast destination address

When I send a UDP packet with the DUT's IP adress to the link layer broadcast adress (FF:FF:FF:FF:FF:FF), the DUT resolves my IP address and sends back an ICMP port unreachable. RFC1122 section 3.2.2 states that an ICMP error message MUST NOT be sent as the result of receiving a datagram sent as a link-layer broadcast.

Reproducable:
sudo ./run.sh --test icmpNoRespLLBroadcast testcases/hardware/icmp_dut_bench.txt 
