DHCP: Broadcast bit is always set

PicoTCP as a DHCP client always sets the broadcast bit.
RFC2131 section 4.1 states that 
   "A client that cannot receive unicast IP datagrams until its protocol
   software has been configured with an IP address SHOULD set the
   BROADCAST bit in the 'flags' field to 1 in any DHCPDISCOVER or
   DHCPREQUEST messages that client sends.  The BROADCAST bit will
   provide a hint to the DHCP server and BOOTP relay agent to broadcast
   any messages to the client on the client's subnet.  A client that can
   receive unicast IP datagrams before its protocol software has been
   configured SHOULD clear the BROADCAST bit to 0."

In my testcases I configure the client using unicast replies so it can handle unicasts.
Therefor the broadcast bit SHOULD be set to 0.
