ARP: Accept broadcast/multicast ethernet address in ARP reply

When receiving an ARP reply with src mac address being a multicast/broadcast address, this should not be entered in the ARP cache. See RFC 1812 section 3.3.2.

Reproduce:
sudo ./run.sh --test broadcastreply --test multicastreply testcases/hardware/arp_bench_dut.txt
