ICMP: No reply when ICMP request is fragmented

When we send an ICMP request  with payload (packet size < MTU), picoTCP sends an ICMP reply with the same payload. So far so good.

When we send an ICMP request with payload (packet size > MTU), the packet gets fragmented and picoTCP DOES NOT send a ICMP reply.
RFC1122 section 3.2.2.6 states that:
"Data received in an ICMP Echo Request MUST be entirely
            included in the resulting Echo Reply.  However, if sending
            the Echo Reply requires intentional fragmentation that is
            not implemented, the datagram MUST be truncated to maximum
            transmission size (see Section 3.3.3) and sent."

reproduce:
sudo ./run.sh --test=icmpfragmentation testcases/hardware/icmp_bench_dut.txt
