TCP: Window shrinking

Pico SHOULD NOT shrink the window RFC1122 section 4.2.2.16.

Pico advertises N bytes. We send X bytes to pico who is buffering the data (application is not receiving). At a certain point pico advertises a reduced window of size M. We notice that (N - M) > X is true which proves that pico is shrinking its buffer (strongly discouraged by the RFC's).

reproduce:
sudo ./run.sh --test windowshrinkingnotallowed testcases/hardware/tcp_talk_bench_dut.txt
